* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

@font-face {
   font-family: 'FuenteCronica';
   src: url(FuentesCronica/Impact-Font/impact.ttf) format('truetype')
}

body {
   background-color: #a81a0e;
}

#h1 {
   font-family: 'Roboto', sans-serif;
   text-shadow: 5px 5px 2px #000000, 2px 2px 1px #000000, -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000;
   font-style: italic;
   font-size: 20px;
   color: #d3d5d2;
   margin: 80px;
   text-indent: 2%;
}

#divh2 {
   font-family: 'FuenteCronica', sans-serif;
   text-shadow: 7px 7px #000000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000;
   letter-spacing: 5px;
   margin: 60px;
   font-size: 100px;
   font-weight: 900;
   color: white;
   text-align: center;

}

#h2 {
   margin: 5%;
}
