* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.esteban {
    font-family: 'Esteban', serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 42);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgb(50, 50, 50);
    font-weight: 600;
}




#stripe {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: grey;
}

#reset {
    width: 175px;
}

#spanDiv {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#message {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#buttonContainer {
    display: flex;
    align-items: stretch;
    width: 175px;
    
}

button {
    font-size: 1rem;    
    margin: 0 5px;
    border-radius: 5px;
    background: white;
    width: 100%;
}

button:hover {
    opacity: 80%;
}

.selected {
    background-color: red;
    color: white;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    margin-top: auto;
    margin-bottom: auto;
    
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

.square {
    float: left;
    width: 175px;
    height: 175px;
    /* margin: 5px; */
    display: block;
    border-radius: 25%;
    transition: .75s
}

.copyright {
    margin-top: auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}


