* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.esteban {
    font-family: 'Esteban', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 20px;
    background-color: lightblue;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.visible {}

.miFoto {
    border-radius: 50%;
}

.no-style {
    color: rgb(19, 7, 7);
    text-decoration: none;
}

.navbar-brand {
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: center;

}

.anchor {
    height: 75px;
}

h1 {
    text-align: center;
}

.margin5 {
    margin: 5%;
}

.margin2 {
    margin: 2%;
}

.div {
    margin: 5px;
    border: solid 1px black;
    padding: 5px;
}


.p {
    margin: 5px;
    border: solid 1px red;
    padding: 5px;

}

.form {
    width: 50%;
    margin: auto;
    min-width: 350px;
}

p {
    margin: 0;
}

#mensaje {
    height: 120px;
    overflow-wrap: break-word;
}

.card {
    background-color: lightblue;
    border: none;
}


.copyright {
    background-color: rgb(15, 85, 97);
    margin-top: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
}