* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: lightblue;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}


.no-style {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: center;
 
}

.anchor {
    height: 75px;
}

h1 {
    text-align: center;
}

.margin5 {
    margin: 5%;
}

.margin2 {
    margin: 2%;
}

.div {
    margin: 5px;
    border: solid 1px black;
    padding: 5px;
}

.p {
    margin: 5px;
    border: solid 1px red;
    padding: 5px;

}

/* .footer {
    padding: 0 20%;
} */
.form {
    width: 50%;
    margin: auto;
    min-width: 350px;
}

p {
    margin: 0;
}

#mensaje {
    height: 120px;
    overflow-wrap: break-word;
}



.copyright {
    background-color: rgb(15, 85, 97);
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
