* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
    background-color: lightblue;
}
.nav {
    width: 100%;
    background-color: lightcoral;
    position:sticky;
    top: 0;
    color: red;
    border: 20px;
    border-color: white;
    
}

.item {
    background-color: black;
    border: 3px solid;
    color: white;
    padding: 12px;
    
}
.flexContainer {
    
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
