* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.esteban {
    font-family: 'Esteban', serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background: #0a1f44;
    color: white;
}

h1 {
    margin: 30px;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: white;
}

ul {
    list-style: none;
}

input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: #ff1e42;
}

button:hover {
    background: #c3112d;
}

.container {
    background-color: white;
    color: #1e2432;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin-left: 50px;
    visibility: hidden;
    margin: 50px auto;
}

.ciudades {
    padding: 40px 10%;
}

#ciudad {
    font-size: 2rem;
    color: #717681;
}

#pais {
    font-size: 1rem;
    color: #717681;
}

#temperatura {
    font-size: 5rem;
    font-weight: bold;
}

sup {
    font-weight: normal;
    font-size: 2.5rem;
}

img {
    width: 4rem;
}

#descripcion {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #717681;
}

.encabezado {
    text-align: center;
}

.copyright {
    margin-top: auto;
    padding: 30px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}